<div id="SLB_film" style="height: 100%; width: 100%; top: 0px; left: 0px; display: none;"></div>
<div id="SLB_content" onclick="SLB();" style="text-align: center; left: 0px; top: 1111.2px;"></div> 
<div id="SLB_loading" onclick="SLB();" title="로딩중...클릭시 취소" style="display: none; visibility: visible; left: 376px; top: 1427.2px;"> Loading... </div>
<p>&nbsp;</p>
<p><span class="title">매헌 梅軒&nbsp;</span><span class="no">&nbsp;_03&nbsp;</span><span class="sub">임시정부 내부</span></p>
<p>&quot;정답입니다.&quot;</p>
<p>&quot;정확히는 1919년 4월 11일이죠&quot;</p>
<p>&quot;들어가셔도 좋습니다&quot;</p>
<p>임시정부 안으로 들어가 요원의 안내를 받아 자그마한 방으로 들어갔다.</p>
<p>&quot;잠시만 기다려주세요.&quot;</p>
<p>김구선생님을 만나면 무슨 말을 해드려야 하지..</p>
<p>심장소리와 새로 산 시계의 째깍거림이 맞물려 나를 더 초조하게 만든다</p>
<p>조금 뒤 방문이 열리고 김구선생님이 들어오셨다.</p>
<p>그리고 우리는 오랜시간 우리가 어떻게 나아가야하는가에 대해 얘기를 나눴다.</p>
<p>대화는 일본을 무장 투쟁으로 저지해야한다는 결론에 도달했다.</p>
<p>지금 임시정부가 많은 독립운동가들이 떠나며 위기에 놓여졌기 때문에 나의 역할은 더욱 무거워졌다.</p>
<p>때문에 만주사변이 일본의 승리로 끝이나고 상하이까지 점령당한다면 그땐 정말 목숨을 걸고 앞장서 싸울준비를 해야할 것이다.</p>
<p>&nbsp;</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>&nbsp;</p>
<p>
    <a onclick="SLB('Resources/image/YunKim.jpg', 'image', true);" class="imglink">[김구와 윤봉길 사진]</a>
</p>
<p>&nbsp;</p>
<p>만주사변이 일본의 승리로 끝나고 예상대로 일본은 상하이를 공격해 19로군과 5군을 쫓아냈다.</p>
<p>그리고 우리는 일본제국의 주요인사들이 대거 참여하는 일본 천황 생일연겸 상하이 점령 전승 기념 행사에 가기로 했다.</p>
<p>가서 폭탄으로 독립에 대한 우리의 목소리를 전하기로 했다.</p>
<p>거사를 앞두고 나는 한인애국단에 가입하게 됐다.</p>
<p>그리고 철저하게 거사를 준비하며 우리의 계획을 머리 속으로 되뇌였다.</p>
<p>&nbsp;</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>&nbsp;</p>
<p>거사장소는 어디인가? - 상하이 홍커우공원</p>
<p>소지할 폭탄의 종류는 어떤 것이 있는가? - 도시락 폭탄과 물병폭탄</p>
<p>거사일은 언제인가? - OOOO년 4월 29일</p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>[ Question ] 빈칸에 들어갈 알맞은 년도는?</p></div>