<p>&nbsp;</p>
<p><span class="title">마지막 해커&nbsp;</span><span class="no">&nbsp;_02&nbsp;</span><span class="sub">임시정부</span></p>
<p>나는 김구선생님을 만나기 위해 상하이 임시정부로 향했다.</p>
<p>때마침 김구선생님이 젊은이를 모집하고 있다는 소식도 있었으니 이때다 싶었다.</p>
<p>만나서 꼭 독립을 위해 몸바쳐 싸우겠다는 나의 의지를 전달해야지..</p>
<p>&nbsp;</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>&nbsp;</p>
<p>&quot;도착했습니다.!&quot;</p>
<p>내려서 주위를 둘러보니 삼엄한 분위기가 나를 압도한다.</p>
<p>임시정부에 들어가는 것 부터가 자신이 서지않아 발걸음이 무겁다.</p>
<p>일단 본부로 들어가자..</p>
<p>&quot;여기 들어오시면 안됩니다!!&quot;</p>
<p>입구부터 보안요원이 나를 막아세웠다.</p>
<p>당황스럽다 전에 봤던 요원이 아닌가보다.</p>
<p>원래있던 사람들은 다 어디간거지..?</p>
<p>&quot;김구선생님을 만나러 왔습니다&quot;</p>
<p>&quot;아.. 한인애국단말입니까..?&quot;</p>
<p>그 후 신원확인을 위해 이름, 출신등에 대한 간단한 얘기를 나눴다.</p>
<p>&quot;좋습니다 어떤분인진 어느정도 파악이 된것 같네요&quot;</p>
<p>&quot;마지막으로 제가 내는 문제를 맞히시면 됩니다&quot;</p>
<p>&nbsp;</p>
<p>&quot;문제 나갑니다..!&quot;</p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>[ Question ] 대한민국 임시정부 수립년도는?</p>
<p>Hint. 2019년이 대한민국 임시정부 수립 몇주년인가?</p></div>