<p>&nbsp;</p>
<p><span class="title">매헌 梅軒&nbsp;</span><span class="no">&nbsp;_07&nbsp;</span><span class="sub">학교</span></p>
<p><span class="no">시험의 시작을 알리는 종이 울렸다</span></p>
<p><form action="/ending" method="POST" style="width: 500px;">
    <img src="Resources/image/testQ1.jpg">
    <p>1. 다음 사진과 관련된 사건에 관한 설명으로 옳지 않은 것은?</p>
    <input type="radio" name="testQ1" value="1">
    <span>1) 일본군의 보복으로 간도 참변이 일어났다</span><br>
    <input type="radio" name="testQ1" value="2">
    <span>2) 상하이에서 국민 대표자 회의가 일어났다</span><br>
    <input type="radio" name="testQ1" value="3">
    <span>3) 침체에 빠진 대한민국 임시 정부에 활기를 불어넣었다</span><br>
    <input type="radio" name="testQ1" value="4">
    <span>4) 일제가 대한 제국의 강제 합병을 서두르게 되었다</span><br>
    <input type="radio" name="testQ1" value="5">
    <span>5) 김원봉이 의열단을 조직하여 항일 의거 활동을 전개하였다</span><br>
    <p style="margin-bottom: 85px;"></p>

    <img src="Resources/image/testQ2.jpg">
    <p>2. 다음 인물에 대한 설명으로 옳은 것은?</p>
    <input type="radio" name="testQ2" value="1">
    <span>1) 의열단을 조직하여 활동하였다</span><br>
    <input type="radio" name="testQ2" value="2">
    <span>2) 조선 건국 동맹을 조직하여 건국을 준비하였다</span><br>
    <input type="radio" name="testQ2" value="3">
    <span>3) 조선 의용군을 조직하여 건국을 준비하였다</span><br>
    <input type="radio" name="testQ2" value="4">
    <span>4) 헤이그에 특사로 파견되었다</span><br>
    <input type="radio" name="testQ2" value="5">
    <span>5) 한인 애국단을 조직하였다</span><br>
    <p style="margin-bottom: 85px;"></p>

    <img src="Resources/image/testQ3.jpg" style="width: 300px;">
    <p>3. 다음 사진에 나와있는 묘와 관련없는 인물은?</p>
    <img src="Resources/image/testQ3A1.jpg" style="width: 100px;">
    <input type="radio" name="testQ3" value="1">
    <img src="Resources/image/testQ3A2.jpg" style="width: 100px;">
    <input type="radio" name="testQ3" value="2">
    <img src="Resources/image/testQ3A3.jpg" style="width: 100px;">
    <input type="radio" name="testQ3" value="3"><br>
    <img src="Resources/image/testQ3A4.jpg" style="width: 100px;">
    <input type="radio" name="testQ3" value="4">
    <img src="Resources/image/testQ3A5.jpg" style="width: 100px;">
    <input type="radio" name="testQ3" value="5">
    <p style="margin-bottom: 85px;"></p>
    
    <div style="border: solid black 0.5px">[4~5] <b><ins>이 기관</ins></b>은 3.1 운동 당시 독립선언을 계기로 일제의 대한제국 침탈과
    식민 통치를 부인하고 한반도 내외의 항일 독립운동을 주도하기 위한 목적으로 건립된,
    한민족 최초의 민주공화국인 대한민국의 시초인 망명정부다</div>
    <p>&nbsp;</p>
    <p>4. 이 기관의 이름으로 올바른 것은?</p>
    <input type="radio" name="testQ4" value="1">
    <span>1) 신민회</span><br>
    <input type="radio" name="testQ4" value="2">
    <span>2) 신간회</span><br>
    <input type="radio" name="testQ4" value="3">
    <span>3) 독립의군부</span><br>
    <input type="radio" name="testQ4" value="4">
    <span>4) 대한민국 임시정부</span><br>
    <input type="radio" name="testQ4" value="5">
    <span>5) 한인 애국단</span><br>
    <p>&nbsp;</p>

    <p>5. 이 기관의 설립일로 올바른 것은?</p>
    <input type="radio" name="testQ5" value="1">
    <span>1) 1909년 10월 26일</span><br>
    <input type="radio" name="testQ5" value="2">
    <span>2) 1919년 3월 1일</span><br>
    <input type="radio" name="testQ5" value="3">
    <span>3) 1919년 4월 11일</span><br>
    <input type="radio" name="testQ5" value="4">
    <span>4) 1926년 6월 10일</span><br>
    <input type="radio" name="testQ5" value="5">
    <span>5) 1929년 11월 3일</span><br>
    <p>&nbsp;</p>

    <button type="submit" class="submitBtn">제출하기</button>
</form></p>