<div id="SLB_film" style="height: 100%; width: 100%; top: 0px; left: 0px; display: none;"></div>
<div id="SLB_content" onclick="SLB();" style="text-align: center; left: 0px; top: 1111.2px;"></div> 
<div id="SLB_loading" onclick="SLB();" title="로딩중...클릭시 취소" style="display: none; visibility: visible; left: 376px; top: 1427.2px;"> Loading... </div>
<p>&nbsp;</p>
<p><span class="title">매헌 梅軒&nbsp;</span><span class="no">&nbsp;_04&nbsp;</span><span class="sub">훙커우 공원</span></p>
<p>느리게만 가던 시간은 결국 거사일까지 오게됐고</p>
<p>가족들과 먼저 잡혀들어간 동료 생각에 오늘 잠은 제대로 이루지 못했다.</p>
<p>&nbsp;</p>
<img src="Resources/image/testQ1.jpg">
<!-- <p>
    <a onclick="SLB('Resources/image/testQ1.jpg', 'image', true);" class="imglink">[윤봉길 사진]</a>
</p> -->
<p>&nbsp;</p>
<p>김구선생님과 마지막 식사를 하고 시계를 보니 이제 떠날 시간이다.</p>
<p>작별인사를 마치고 떠나려던 찰나 선생님의 낡은 회중시계가 눈에 들어왔다.</p>
<p>&quot;시계가 아주 낡았네요. 선생님, 제 시계와 바꾸시죠&quot;</p>
<p>&quot;그게 무슨 소리인가?&quot;</p>
<p>&quot;제 시계는 6원이나 주고 산 좋은 시계입니다&quot;</p>
<p>&quot;그 좋은 시계를 왜 날 주나. 내 시계는 2원짜리 아주 오래된 시계일세&quot;</p>
<p>&quot;저에게 좋은 시계는 필요하지 않습니다. 제 시계는 앞으로 한 시간밖에 쓸 수 없으니까요&quot;</p>
<p>그후 우리는 말없이 시계를 교환하고 나는 밖을 나섰다.</p>
<p>&nbsp;</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<img src="Resources/image/Hungkeu.png">
<!-- <p>
    <a onclick="SLB('Resources/image/Hungkeu.png', 'image', true);" class="imglink">[훙커우 공원 사진]</a>
</p> -->
<p>&nbsp;</p>
<p>얼마전있었던 동료 이봉창 의사의 의거로 확실히 경비가 삼엄해졌다.</p>
<p>기념식장에 물통과 도시락 이외의 것은 반입이 안되는 것도 같은 이유다.</p>
<p>&quot;おい、お前朝鮮人じゃないか？(어이 너 조선인 아니야?)?&quot;</p>
<p>보안검색을 받다 일본의 경비원이 나를 막아섰다.</p>
<p>&quot;あなたの言葉がわからないです。私は日本人です。(이봐요 그게 무슨 소리입니까 전 일본인입니다)&quot;</p>
<p>&quot;당황한 기색없이 유창하게 일본어로 대답하니 경비원도 약간 갸우뚱 거렸다.&quot;</p>
<p>&quot;こいつ、何かおかしい(이놈 낌새가 수상해)&quot;</p>
<p>&quot;お前が本当に日本人ならこの問題を解くことができるはずだ。(너가 진짜 일본인이라면 이 문제를 풀수 있을거야)&quot;</p>
<p>&quot;やって見ろ(어디 한 번 맞춰봐라)&quot;</p>
<p>&nbsp;</p>
<p>
    <a onclick="SLB('Resources/image/bus.png', 'image', true);" class="imglink">[문제 사진]</a>
</p>
<p>&nbsp;</p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>[ Question ] 버스의 앞 부분은 어느 쪽인가?</p>
<p>Hint. 일본의 통행방향</p></div>