<p>&nbsp;</p>
<p><span class="title">마지막 해커&nbsp;</span><span class="no">&nbsp;_06&nbsp;</span><span class="sub">???</span></p>
<p>던진 물병폭탄은 시라카와 대장과 노무라 중장 사이에 떨어졌고</p>
<p>자폭용 도시락 폭탄을 쓰려했지만 이미 달라붙은 일본 헌병들때문에</p>
<p>그냥 가만히 맞고 있을 수 밖에 없었다.</p>
<p>&nbsp;</p>
<p>폭탄은 터졌다.</p>
<p>&nbsp;</p>
<p>헌병에 둘러싸여 보진 못했지만 많은 일본인사들이 죽거나 다쳤겠지.</p>
<p>자폭은 실패했어도 다행히 임무는 성공이다.</p>
<p>&nbsp;</p>
<p>폭발음에 귀가 먹먹해지고</p>
<p>정신은 흐려진다.</p>
<p>&nbsp;</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>&nbsp;</p>
<p>깨어나보니 나는 쓰러져있었고</p>
<p>주변이 축축하다 피인가</p>
<p>&nbsp;</p>
<p>&quot;아 침이구나..&quot;</p>
<p>&nbsp;</p>
<p>예상은 했지만 결국 한국사 공부는 하나도 못했다</p>
<p>그보다 밤새 꾼 꿈이 아직도 생생히 기억난다.</p>
<p>&nbsp;</p>
<p>침과 이유모를 눈물을 닦고 일어나니 낡은 알람시계가 눈에 들어왔다.</p>
<p>시계는 한국사 시험이 한 시간밖에 남지않았음을 알려줬다.</p>
<p>&nbsp;</p>
<p>빨리 학교로 가야한다.</p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>
    <a onclick="ending()" class="red">[시험장으로]</a>
</p></div>