<div id="SLB_film" style="height: 100%; width: 100%; top: 0px; left: 0px; display: none;"></div>
<div id="SLB_content" onclick="SLB();" style="text-align: center; left: 0px; top: 1111.2px;"></div> 
<div id="SLB_loading" onclick="SLB();" title="로딩중...클릭시 취소" style="display: none; visibility: visible; left: 376px; top: 1427.2px;"> Loading... </div>
<p>&nbsp;</p>
<p><span class="title">매헌 梅軒&nbsp;</span><span class="no">&nbsp;_01&nbsp;</span><span class="sub">집</span></p>
<p>&quot;벌써 2시네 아직 졸리면 안되는데..&quot;</p>
<p>내일있을 시험을 앞두고 나는 책상에 멍하니 앉아있다.</p>
<p>&quot;내일 보는 과목이 수학이랑 영어.. 한국사...&quot;</p>
<p>수학이랑 영어는 꾸준히 해온 덕에 큰 부담은 없다만 한국사.. 요놈이 늘 문제다</p>
<p>&quot;이거 벼락치기로 공부할 양도 아니고..&quot;</p>
<p>&quot;그냥 주요과목도 아니니깐 잠이나 자둘까?&quot;</p>
<p>나는 한국사 교과서를 멀뚱히 바라보지만 정신은 이미 이불속에 있고</p>
<p>눈꺼풀은 무거워져만 간다</p>
<!-- dot -->
<p>&nbsp;</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>&nbsp;</p>
<p>&quot;어이 윤씨 일어나봐.!&quot;</p>
<p>잠깐 잠에 들어서 큰일 날 뻔했다.</p>
<p>&quot;이게 웬일이래 성실한 윤씨가 여기서 꾸벅꾸벅 졸고있고 너무 무리한거 아냐?&quot;</p>
<p>고개를 들어보니 익숙한 얼굴의 아저씨가 한분이 나를 깨우고 있었다</p>
<p>&quot;생각해보니 이건 별것도 아니지 조만간 이주변에서 일본에서 전승행사를 한다는 얘기도 들리는걸 보면..&quot;</p>
<p>상하이 사변이 일본쪽 승리로 끝난건가..</p>
<p>여기서 계속 졸고있을 시간이 없다 한시라도 빨리 김구선생님을..</p>
<p>나는 빠르게 야채가게를 정리하고 인력거꾼을 잡았다</p>
<p>&quot;어디로 모셔다드릴까요.?&quot;</p>
<p>&nbsp;</p>
<p>지도를 한번 볼까..</p>
<p>
    <a onclick="SLB('Resources/image/ShanghaiMap.jpg', 'image', true);" class="imglink">[지도사진]</a>
</p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>[ Question ] 나는 어디로 가야할까</p>
<p>Hint. 누구를 만나야하는가?(지도를 참고하자)</p></div>