<p>&nbsp;</p>
<p><span class="title">매헌 梅軒&nbsp;</span><span class="no">&nbsp;_05&nbsp;</span><span class="sub">기념식장</span></p>
<p>문제를 맞춰내니 경비원의 당황한 기색이 역력하다</p>
<p>죄송하다는 말에 여유로운척 웃음을 보내고 식장에 들어왔지만</p>
<p>다리가 후들거리고 숨이차서 아무대나 앉아 정신을 붙잡았다.</p>
<p>김구선생님이 주신 회중시계를 꺼내보니 행사시간이 다가왔다</p>
<p>&nbsp;</p>
<p>갑자기 큰 박수소리가 들렸다.</p>
<p>그리고는 하나둘 일본측 주요인사들이 단상위로 올라왔다.</p>
<p>천장절과 전승 기념행사가 연이어 치뤄지는 날이라</p>
<p>일본의 이름있는 고위 군인, 정치인들이 전부 한자리에 모였다.</p>
<p>&nbsp;</p>
<p>1부 천장절이 시작됐다.</p>
<p>천왕이 참석한 자리라 입장때 이상으로 경비가 무척 삼엄하다.</p>
<p>지금은 일을 치를 때가 아님을 직감했다.</p>
<p>&nbsp;</p>
<p>2부 상하이 전승 기념식이 시작됐다.</p>
<p>그러자 외교관과 여러 내빈들이 돌아가 일본인들만 남았다.</p>
<p>단상을 접근할 길도 트였고 지금이 기회다.</p>
<p>&nbsp;</p>
<p>일본의 국가인 기미가요가 울려퍼졌다.</p>
<p>모두의 이목이 다른곳으로 집중된 틈을 타 단상으로 접근하기 시작했다.</p>
<p>5m 정도 단상 앞에 왔을 때 나는 두 폭탄을 쥐었다.</p>
<p>하나는 투척용 하나는 자폭용</p>
<p>이상함을 눈치챈 경비가 내쪽으로 다가왔고</p>
<p>이제는 던져야한다.</p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>[ Question ] 투척용 폭탄은 무엇인가?</p></div>