<p>&nbsp;</p>
<p><span class="title">매헌 梅軒&nbsp;</span><span class="no">&nbsp;_08&nbsp;</span><span class="sub">효창공원</span></p>
<p>드디어 시험이 끝났다.</p>
<p>걱정했던 한국사는 가채점을 해보니 전부 맞았다.</p>
<p>전부 오늘 밤 꿈 덕분이다</p>
<p>감사한 마음이 들었다.</p>
<p>시험 결과 때문이 아니었다</p>
<p>우리나라를 위해 목숨을 바친 많은 독립운동가들에 대한 감사의 마음이었다.</p>
<p>&nbsp;</p>
<p>시험이 끝나고 집가는 길에 학교 주변에 있던 효창공원에 들렸다.</p>
<p>그곳에서는 많은 독립운동가분들을 뵐 수 있었다.</p>
<p>&nbsp;</p>
<p>일본 도쿄에서 히로히토 천황을 폭사시키려다가 미수에 그쳐 일본군에 의해 사형당했던 이봉창 의사</p>
<p>러시아 하얼빈역에서  일본 제국의 전 내각총리대신, 전 조선 통감인 이토 히로부미를 사살한 안중근 의사</p>
<p>대한민국 임시정부의 국무령으로 한인애국단을 설립하고 많은 독립운동가들의 지도자가 되었던 백범 김구 선생</p>
<p>중국 상하이 훙커우공원에서 당시 일본 천황 히로히토의 생일 행사 때 물통폭탄을 투척한 매헌 윤봉길 의사</p>
<p>&nbsp;</p>
<p>셀 수 없이 많은 독립운동가 분들의 묘소에 들려서 그분들의 업적과 일생에 대해 알아보는 시간을 가졌다.</p>
<p>이렇게 걱정없이 공원을 거니는 것도, 타민족이 아닌 우리 민족의 역사를 공부할 수 있는 것도</p>
<p>전부 그분들의 목숨을 건 노력이 있었기에 가능한 일이다.</p>
<p>&nbsp;</p>
<p>그 분들이 지켜준 소중한 나라, 소중한 역사를</p>
<p>이제는 우리가 지켜나갈 차례이다.</p>
<p>&nbsp;</p>
<p><span class="no" style="margin-left: 600px;">끝</span></p>
<p style="margin-bottom: 85px;"></p>
<div class="red"><p>
    <a onclick="p2p()" class="red">[처음으로 돌아가기]</a>
</p></div>