<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DokiDoki Aegukdan</title>
<meta name="robots" content="noindex, nofollow">
<link rel="stylesheet" href="css/style.css">
<script src="resize.js"></script>
</head>

<body id="main" onresize="onsize();" onload="onsize();">
<div id="container2"><p>&nbsp;</p>
<p>&nbsp;</p>

<div style="font-size:48pt; font-family:'바탕',Batang; color:#333333;">두근두근 애국단</div>
<p>&nbsp;</p>
<p><b>&nbsp;- 게임소개</b></p>
<p>이 미궁 게임은 <strong>대한민국 임시정부 수립 100주년</strong>을 기념하여 제작하였습니다.</p>
<p>created by kennen (kckyoung11@gmail.com)</p>
<p>&nbsp;</p>
<p><b>&nbsp;- 게임방법</b></p>
<p>* 미궁게임을 진행을 하시다보면 각 스테이지 별로 문제에 대한 <strong>답</strong>을 입력하셔야 다음 스테이지로 이동됩니다.</p>
<p>* 정답은 한글과 영어와 숫자만으로 구성되어 있습니다. 영문일 경우에는 대소문자를 가리지 않습니다.</p>
<p>　(예를 들어 정답이 'korea'라면 'KOREA'도 인정됩니다.)</p>
<p>* 답이 한글일 경우엔 띄어쓰기없이 입력하시면 됩니다.</p>
<p>　(예를 들어 정답이 '대학민국 임시정부'라면 '대한민국임시정부' 라고 입력하시면 됩니다)</p>
<p>&nbsp;</p>
<p><b>&nbsp;- 게임시작</b></p>
<p><form action="/" method="POST">
    <input type="hidden" name="answer" value="왜 고3이 코드짜고 있냐">
    <input type="submit" value='"아무튼 대충 만든 게임 해보기"'>
</form></p>
<p>&nbsp;</p>
<p style="font-family:'바탕',Batang; color:#333333; margin-left:350px;"><span style="font-size:22pt;"><strong>역사</strong></span><span style="font-size:10pt;">를 잊은 민족에게 미래는 없습니다</span></p>
<!-- <p style="font-size:10pt; font-family:'바탕',Batang; color:#333333; margin-left:355px;">역사는 우리 민족의 정체성입니다</p> -->
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- <p style="margin-left:118px;">마지막해커 미궁게임을 기억하시는 분들과 미궁게임을 좋아하시는 분들을 위해 복구하였습니다.</p> -->
<!-- <p style="margin-left:200px;">마지막해커 미궁게임 복구에 도움을 주신 <a href="http://rebyrinth.tistory.com" target="blank"><b>Rebyrinth</b></a>님에게 감사의 말씀드립니다.</p> -->
<p>&nbsp;</p>
</div>
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "360aacf7a3e180";
wcs_do();
</script>
</body>
</html>